body {
  background-color: lavender;
  cursor: url(src/cursor.png), auto;
}
img {
  width: 100%;
  transition: all 0.4s ease-in-out;
}
img:hover {
  transform: scale(1.03);
}
.logo {
  width: 400px;
  z-index: 10;
  /* position: -webkit-sticky; */
  position: fixed;
  top: 0;
}
.logo_Shadow {
  width: 500px;
  position: absolute;
  top: 0px;
}
.logo.shadowBehind {
  z-index: -3;
}

.logo_outline {
  width: 400px;
  position: absolute;
  z-index: 5;
}

.navbar {
  position: fixed;
  right: 0px;
  top: 40%;
  z-index: 50;
}

ul,
.navbar {
  list-style: none;
  font-size: 28px;
  font-family: monospace;
  text-align: right;
  color: #0000ff;
}

.container {
  padding-top: 100px;
  z-index: 2;
}
