body {
  background-color: white;
  cursor: url(src/cursor.png), auto;
}
img {
  width: 100%;
  transition: all 0.4s ease-in-out;
}
img:hover {
  transform: scale(1.03);
}

.logo {
  width: 400px;
  z-index: 10;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}
<<<<<<< HEAD
=======
.logo {width: 400px;

z-index: 10;
position: -webkit-sticky;
position: sticky;
top: 0px;}

.logo_Shadow {width: 500px;
    z-index: 11;
    position: absolute;
    top: 0px;

}
.logo_outline {width: 400px;

z-index: 10;}
>>>>>>> 492aa00a86d4c14701b6dd5cb1884460cf7d1599
